{
  "plugins":[
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "rollup": {
      "presets": [
        "es2015-rollup",
        "es2017"
      ]
    },
    "browserify": {
      "plugins": [
        "add-module-exports"
      ],
      "presets": [
        "es2015",
        "es2017"
      ]
    }
  }
}
